.basket {
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__total-container {
    padding: 1rem;
    background-color: rgba($color: #00ff91, $alpha: 0.1);
    font-weight: 500;
  }
}