.registration {
  &__container {
    display: flex;
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 1321px;
    flex: 1 1 50%;
  }

  &__title-description {
    color: #274C5B;
    font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__description{
    &_welcome {
      max-width: 326px;
      text-align: center;
      color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
    }
    &_join {
      max-width: 422px;
      text-align: center;
      color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
    }
  }
  &__label {
    position: relative;
  }
  &__input {
    height: 61px;
    border: 1px solid #274C5B;
    width: 100%;
    &:valid {
      border: 1px solid #274C5B;
    }
    &:invalid {
      border: 1px solid #ff0000;
    }
    &-error {
      position: absolute;
      left: 0;
      bottom: -30px;
      color: #ff0000;
    }

  }
  &__button{
    width: 250px;
height: 62px;
    padding-left: 39px;
    padding-right: 39px;
    text-align: center;
    border-radius: 16px;
border: 1px solid #274C5B;
background: #FFF;
  }
&__form {
  max-width: 587px;
  width: 100%;
  row-gap: 52px;
}
.column {
  &__left {
    background-color: #e3f1e9;
  }
}
}
.form {
  display: flex;
  flex-direction: column;
}
.sign-in__button {
  width: 100%;
}