.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.heading {
  color: #274C5B;
  text-align: center;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
