.line-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  // & * {
  //   // border-right: 1px solid #a2a2a2;
  // }
  &__image {
    display: block;
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 16px;
  }
  &____prices {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__quantity-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__quantity-input {
    width: 92px;
    height: 63px;
    font-size: 20px;
    text-align: center;
    border-radius: 16px;
  }
  &__quantity-label {
    padding-bottom: 0;
  }
}
.quantity-button {
  padding: 4px;
  height: 30px;
  width: 30px;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &__increment {
    background-color: #274C5B;
  }
  &__decrement {
    background-color: #EFD372;
  }
  &__delete {
    padding: 4px 8px;
    background-color: #EFD372;
  }
} 