.product-element__class {
  display: flex;
  padding: 5px 12px 6px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #274c5b;
  color: #fff;
  font-size: 0.9375rem;
}
