.search_btn {
    background: #7EB693;
    color: white;
    border-radius: 50%;
    padding: 13px 15px;
    border: none;
}

.search_bar_block input {
    width: 79%;
    height: 49px;
    border: none;
    border-radius: 36px;
    background: #FAFAFA;
}

.search_bar_block {
    border-radius: 36px;
    background: #FAFAFA;
}