.search_btn {
    background: #7EB693;
    color: white;
    border-radius: 50%;
    padding: 13px 15px;
    border: none;
    margin-top: 5px;
}

.search_bar_block input {
    width: 70%;
    height: 49px;
    border: none;
    border-radius: 36px;
    background: #FAFAFA;
    outline: none;
    margin-bottom: 2px;
    margin-left: 10px;
}

.search_bar_block {
    border-radius: 36px;
    background: #FAFAFA;
}