p {
    margin: 0px;

}

.product_block {
    display: grid;
    width: 340px;
    border-radius: 30px;
    background: #F9F8F8;

    &:hover {
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
        transition: all 700ms ease;
    }

    &_info {
        display: flex;
        justify-content: space-between;
        align-self: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    &_images {
        img {
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &_description {
        color: #525C60;
        font-size: 18px;
        align-self: self-end;
        margin-top: 10px;

        p {
            margin: 0px 10px;

        }
    }

    &_info {
        &_title {
            .title {
                color: #274C5B;
                font-size: 20px;
                font-weight: 600;
                border-bottom: 1px solid #DEDDDD;
            }

        }

        .price {
            color: #274C5B;
            font-weight: 700;
            font-size: 18px;
            display: flex;

            p {
                margin-right: 20px;
                margin-top: 10px;
            }
        }

        &_btn-basket {
            p {
                margin-right: 5px;
            }

            border: none;
            display: flex;
            align-items: center;
            color: #274C5B;
            font-weight: 600;
            width: 120px;
            height: 58px;
            border-radius: 33px;
            border: 1px solid #E0E0E0;
        }

        .total_product {
            border-radius: 100%;
            background: #274C5B;
            padding: 14px 3px;
            color: white;
            min-width: 50px;
            text-align: center;
        }
    }
}

.price_discount {
    text-decoration: line-through;
}

@media screen and (max-width: 400px) {
    .product_block {
        width: 280px;
    }
}