.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.title {
  color: #274c5b;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
