$primary: #274C5B;
$gray: #525C60;

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-items: center;
    margin-top: 4rem;

    &_contact,
    &_pages {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 25px;
                text-align: center;
            }
        }
    }

    h4 {
        color: $primary;
        margin-bottom: 1.5rem;
    }

    h3 {
        color: $primary;
    }

    p {
        margin: 0;
        color: $gray;
        font-weight: 400;
    }

    a {
        color: $gray;
        font-weight: 500;

        &:hover {
            color: #7EB693;
        }
    }

    &_information {
        max-width: 543px;
        text-align: center;

        &_logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50%;
                margin-bottom: 15px;
            }

            h3 {
                margin-left: 10px;
            }
        }
    }


}

@media screen and (max-width: 1050px) {
    .footer {
        grid-template-columns: 1fr;

        &_contact,
        &_pages {
            order: 2;
        }

        &_information {
            order: 1;
        }

        &_pages {
            ul {
                li {
                    margin-bottom: 15px;
                }
            }
        }
    }
}