.aboutCard {
  display: flex;
  justify-content: center;
  gap: 70px;
  border-radius: 50px;
  background: #f9f8f8;


  .photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .photo {
      width: 420px;
      height: 100%;
      border-radius: 50px 0 0 50px;
    }
  }

  .aboutCardInfo {
    width: 100%;
    height: 100%;
    padding: 32px 32px 32px 0;

    .fullnameContainer {
      display: flex;
      gap: 15px;

      .fullnameTitle {
        margin: 0;
        color: #274c5b;
        font-size: 1.5625rem;
        font-weight: 800;
        line-height: normal;
      }

      .githubLink {
        display: flex;
        align-items: center;
      }
    }

    .roleTitle {
      margin: 0 0 45px 0;
      color: #7db593;
      font-family: 'Yellowtail', cursive;
      font-size: 1.375rem;
      line-height: normal;
    }

    .contributionTitle {
      color: #274c5b;
      font-size: 2.1875rem;
      font-weight: 800;
      line-height: normal;
    }

    .contributionDescription {
      color: #525c60;
      font-size: 1.125rem;
      line-height: 1.86075rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .aboutCard {
    flex-direction: column;
    width: 85%;
    gap: 35px;

    .photoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 50px 50px 0 0;
      }
    }
    .aboutCardInfo {
      padding: 0 32px 32px 32px;
      .roleTitle {
        margin-bottom: 20px;
      }
      .contributionTitle {
        font-size: 1.6875rem;
      }
    }
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .aboutCard {
    flex-direction: column;
    width: 95%;
    gap: 25px;

    .photoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .photo {
        width: 100%;
        height: 100%;
        border-radius: 50px 50px 0 0;
      }
    }
    .aboutCardInfo {
      padding: 0 32px 32px 32px;
      .roleTitle {
        margin-bottom: 15px;
      }
      .contributionTitle {
        font-size: 1.6875rem;
        margin-bottom: 10px;
      }
    }
  }

}
