.navigation {
&__item {
  color: var(--main-font-color);
  transition: color linear 0.2s;

  &:hover {
    color: var(--active-font-color);
  }
  &_active {
    color: var(--active-font-color);
    
  }
}
}