html {
  scroll-behavior: smooth;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
}